
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpOceans">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <title> Wedding Announcement</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/flaticon.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">
    <link href="assets/css/slick.css" rel="stylesheet">
    <link href="assets/css/slick-theme.css" rel="stylesheet">
    <link href="assets/css/swiper.min.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.transitions.css" rel="stylesheet">
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    


    <style>
        .wishes-section {
            background-color: #f9f5f0;
            padding: 80px 0;
            overflow: hidden;
        }
        
        .wishes-carousel-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        
        .wishes-track {
            display: flex;
            gap: 20px;
            transition: transform 0.5s ease;
            width: max-content;
        }
        
        .wish-slide {
            flex: 0 0 auto;
            width: calc(100vw - 40px);
            max-width: 350px;
        }
        
        .wish-card {
            background-color: white;
            border-radius: 10px;
            padding: 25px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.08);
            min-height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .wish-content p {
            color: #333;
            font-style: italic;
            margin-bottom: 15px;
        }
        
        .wish-author {
            text-align: right;
            font-weight: 600;
            color: #666;
        }
        
        .btn-primary {
            background-color: #d3a625;
            border-color: #d3a625;
            padding: 12px 30px;
            transition: all 0.3s ease;
        }
        
        .btn-primary:hover {
            background-color: #b88d1f;
            border-color: #b88d1f;
        }
        
        @media (max-width: 768px) {
            .wish-slide {
                width: calc(100vw - 60px);
            }
        }

        .swiper-button-next, 
    .swiper-button-prev {
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .swiper-button-next:hover, 
    .swiper-button-prev:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: rgba(255, 255, 255, 1);
        transform: translateY(-50%) scale(1.1);
    }

    .swiper-button-next i, 
    .swiper-button-prev i {
        font-size: 35px;
    }

    .swiper-button-next {
        right: 20px;
    }

    .swiper-button-prev {
        left: 20px;
    }

    /* Responsive Adjustments */
    @media (max-width: 768px) {
        .swiper-button-next, 
        .swiper-button-prev {
            width: 50px;
            height: 50px;
        }

        .swiper-button-next i, 
        .swiper-button-prev i {
            font-size: 24px;
        }
    }

    @media (max-width: 480px) {
        .swiper-button-next, 
        .swiper-button-prev {
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .swiper-button-next i, 
        .swiper-button-prev i {
            font-size: 20px;
        }
    }
        

    .sortable-gallery .grid {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 10px;
    box-sizing: border-box;
}

.img-holder {
    position: relative;
    overflow: hidden;
}

.img-holder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}



.img-holder:hover .hover-content {
    opacity: 1;
}

.img-holder .hover-content i {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .sortable-gallery .grid {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .sortable-gallery .grid {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.img-holder {
        position: relative;
        overflow: hidden;
    }
    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .img-holder:hover .hover-overlay {
        opacity: 1;
    }
    .hover-icons {
        display: flex;
        gap: 20px;
        color: white;
        font-size: 24px;
    }
    .hover-icons i {
        cursor: pointer;
        transition: transform 0.2s ease;
    }
    .hover-icons i:hover {
        transform: scale(1.2);
    }


    .back-to-top {
    display: none !important;
}

        </style>

        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/themify-icons/1.0.1/css/themify-icons.min.css" integrity="sha512-1dGLm+osb2qybDdq7FtMY1bczt2RHvxvA8n5q+mSz8C9IvjwzAxEQ08Rz7E0g42ZILt5fhFZljH3+syAIekzUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMuvd7aKAo8hrykeHbo1l0sN5RA5sqH9wPxu68+" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <!-- <img src="assets/images/favicon.png" alt=""> -->
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <!-- Start header -->
        <header id="header">
            <div class="wpo-site-header">
               
            </div>
        </header>
        <!-- end of header -->
        <!-- start of hero -->
        <section class="wpo-hero-slider wpo-hero-slider-s2">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="assets/images/AKH03537.JPG">
                            <!-- <div class="gradient-overlay"></div> -->
                            <div class="container-fluid">
                                <div class="slide-content">
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2>Anooplal & Athira</h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>We Are Getting Married Dec 8,2024</p>
                                    </div>
                                    <div class="border-1"></div>
                                    <div class="border-2"></div>
                                    <div class="border-3"></div>
                                    <div class="border-4"></div>
                                    <div class="s-img-1"><img src="assets/images/shape3.png" alt=""></div>
                                    <div class="s-img-2"><img src="assets/images/shape4.png" alt=""></div>
                                </div>
                            </div>
                        </div> <!-- end slide-inner -->
                    </div> <!-- end swiper-slide -->

                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="assets/images/AKH03562.JPG">
                            <!-- <div class="gradient-overlay"></div> -->
                            <div class="container-fluid">
                                <div class="slide-content">
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2>Anooplal & Athira</h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>We Are Getting Married Dec 8,2024</p>
                                    </div>
                                    <div class="border-1"></div>
                                    <div class="border-2"></div>
                                    <div class="border-3"></div>
                                    <div class="border-4"></div>
                                    <div class="s-img-1"><img src="assets/images/shape3.png" alt=""></div>
                                    <div class="s-img-2"><img src="assets/images/shape4.png" alt=""></div>
                                </div>
                            </div>
                        </div> <!-- end slide-inner -->
                    </div> <!-- end swiper-slide -->

                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="assets/images/AKH03601.JPG">
                            <!-- <div class="gradient-overlay"></div> -->
                            <div class="container-fluid">
                                <div class="slide-content">
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2>Anooplal & Athira</h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>We Are Getting Married Dec 8,2024</p>
                                    </div>
                                    <div class="border-1"></div>
                                    <div class="border-2"></div>
                                    <div class="border-3"></div>
                                    <div class="border-4"></div>
                                    <div class="s-img-1"><img src="assets/images/shape3.png" alt=""></div>
                                    <div class="s-img-2"><img src="assets/images/shape4.png" alt=""></div>
                                </div>
                            </div>
                        </div> <!-- end slide-inner -->
                    </div> <!-- end swiper-slide -->
                </div>
                <!-- end swiper-wrapper -->

                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
        </section>
        <!-- end of wpo-hero-slide-section-->
        <!-- start wpo-wedding-date -->
        <section class="wpo-wedding-date section-padding">
            <h2 class="hidden">some</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="clock-grids">
                            <div id="clock"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end wpo-wedding-date -->
<!-- start invitation-section -->
<section class="invitation-section section-padding" id="invitation">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="wedding-invitation">
                    <h3>With Joy in Our Hearts</h3>
                    <p>With the blessings of our families, we joyfully invite you to celebrate the union of <strong>Athira</strong> and <strong>Anooplal</strong> as we exchange our wedding vows and begin our lifelong journey together. Your presence will make our special day complete, filling it with love, warmth, and cherished memories.</p>
                    <p>Join us as we start this beautiful chapter of our lives, surrounded by the love and support of our dearest family and friends.</p>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- end couple-section -->
        <!-- start wpo-video-section -->
        <section class="wpo-video-section-s2">
            <h2 class="hidden">some</h2>
            <div class="wpo-video-item">
                <div class="wpo-video-img">
                    <img src="assets/images/cta2.jpg" alt="">
                    <a href="https://www.youtube.com/embed/teLhLLlhfzc" class="video-btn" data-type="iframe"><i
                            class="fi flaticon-play"></i></a>
                </div>
            </div>
        </section>
        <!-- end wpo-video-section-->

        <!-- start story-section -->
       
        <!-- end story-section -->

        <!-- start wpo-portfolio-section -->
        <section class="wpo-portfolio-section-s2 section-padding" id="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="wpo-section-title-s2">
                        <div class="section-title-simg">
                            <img src="assets/images/section-title2.png" alt="">
                        </div>
                        <h2>Sweet Moments</h2>
                        <div class="section-title-img">
                            <div class="round-ball"></div>
                        </div>
                    </div>
                </div>
                <div class="sortable-gallery">
    <div class="row">
        <div class="col-lg-12">
            <div class="portfolio-grids gallery-container clearfix">
                <div class="grid">
                    <div class="img-holder">
                        <a href="assets/images/AKH03601.JPG" class="fancybox" data-fancybox-group="gall-1">
                            <img src="assets/images/AKH03601.JPG" alt="" class="img-fluid w-100">
                            <div class="hover-overlay">
                                <div class="hover-icons">
                                    <i class="fas fa-expand"></i>
                                    <i class="fas fa-download download-icon" data-src="assets/images/AKH03601.JPG"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="img-holder">
                        <a href="assets/images/AKH04736.JPG" class="fancybox" data-fancybox-group="gall-1">
                            <img src="assets/images/AKH04736.JPG" alt="" class="img-fluid w-100">
                            <div class="hover-overlay">
                                <div class="hover-icons">
                                    <i class="fas fa-expand"></i>
                                    <i class="fas fa-download download-icon" data-src="assets/images/AKH04736.JPG"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="img-holder">
                        <a href="assets/images/AKH04680.JPG" class="fancybox" data-fancybox-group="gall-1">
                            <img src="assets/images/AKH04680.JPG" alt="" class="img-fluid w-100">
                            <div class="hover-overlay">
                                <div class="hover-icons">
                                    <i class="fas fa-expand"></i>
                                    <i class="fas fa-download download-icon" data-src="assets/images/AKH04680.JPG"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="img-holder">
                        <a href="assets/images/AKH04490.JPG" class="fancybox" data-fancybox-group="gall-1">
                            <img src="assets/images/AKH04490.JPG" alt="" class="img-fluid w-100">
                            <div class="hover-overlay">
                                <div class="hover-icons">
                                    <i class="fas fa-expand"></i>
                                    <i class="fas fa-download download-icon" data-src="assets/images/AKH04490.JPG"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="img-holder">
                        <a href="assets/images/AKH03610.JPG" class="fancybox" data-fancybox-group="gall-1">
                            <img src="assets/images/AKH03610.JPG" alt="" class="img-fluid w-100">
                            <div class="hover-overlay">
                                <div class="hover-icons">
                                    <i class="fas fa-expand"></i>
                                    <i class="fas fa-download download-icon" data-src="assets/images/AKH03610.JPG"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="img-holder">
                        <a href="assets/images/AKH03601.JPG" class="fancybox" data-fancybox-group="gall-1">
                            <img src="assets/images/AKH03601.JPG" alt="" class="img-fluid w-100">
                            <div class="hover-overlay">
                                <div class="hover-icons">
                                    <i class="fas fa-expand"></i>
                                    <i class="fas fa-download download-icon" data-src="assets/images/AKH03601.JPG"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            </div> <!-- end container -->
        </section>
        <!-- end wpo-portfolio-section -->

        <!-- start of wpo-contact-section -->
        <section class="wishes-section section-padding" id="wishes">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h2 class="section-title">Bless the Couple</h2>
                        <p class="section-subtitle">Wishes from Loved Ones</p>
                    </div>
                </div>
        
                <div class="wishes-wrapper">
                    <div class="wishes-carousel-container">
                        <div class="wishes-carousel" id="wishesCarousel">
                            <div class="wishes-track" id="wishesTrack">
                                <% if (wishes && wishes.length > 0) { %>
                                    <% wishes.forEach(wish => { %>
                                        <div class="wish-slide">
                                            <div class="wish-card">
                                                <div class="wish-content">
                                                    <p><%= wish.message %></p>
                                                    <div class="wish-author">- <%= wish.name %></div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <div class="wish-slide">
                                        <div class="wish-card">
                                            <div class="wish-content">
                                                <p>No wishes yet. Be the first to bless the couple!</p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
        
                    <div class="wishes-action text-center mt-4">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#wishModal">
                            Send Your Wishes
                        </button>
                    </div>
                </div>
            </div>
        
            <!-- Wishes Modal -->
            <div class="modal fade" id="wishModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Send Your Wishes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form id="wishForm" action="/wishes" method="POST">
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" name="message" rows="4" placeholder="Write your wishes..." required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Submit Wishes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- end of wpo-contact-section -->


        <!-- start wpo-cta-section -->

        <!-- <div class="wpo-cta-section-s3">
            <div class="conatiner-fluid">
                <div class="wpo-cta-item">
                    <h2>Adventure Begins</h2>
                    <p>Nov 22,2021, Wedding Unity Center, road 525 USA</p>
                    <a class="theme-btn-s2" href="contact.html">View Details</a>
                </div>
            </div>
        </div> -->

        <!-- end wpo-cta-section -->

        <!-- start wpo-event-section -->
        <section class="wpo-event-section section-padding" id="event">
            <div class="container">
                <div class="row">
                    <div class="wpo-section-title-s2">
                        <div class="section-title-simg">
                            <img src="assets/images/section-title2.png" alt="">
                        </div>
                        <h2>TIME AND PLACE</h2>
                        <div class="section-title-img">
                            <div class="round-ball"></div>
                        </div>
                    </div>
                </div>
                <div class="wpo-event-wrap">
                    <div class="row">
                        <!-- Wedding Eve -->
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-event-item">
                                <div class="wpo-event-text">
                                    <h2>Wedding Eve</h2>
                                    <ul>
                                        <li>Saturday, 7 Dec, 2024<br>4:00 PM – 9:30 PM</li>
                                        <li>Bride's Home, Kannur</li>
                                        <li>Phone: +12345678910</li>
                                        <li>
                                            <a href="https://maps.app.goo.gl/8L1wGxBNTT5bCxig6" target="_blank">See Location</a>
                                        </li>
                                    </ul>
                                    <div class="weather-info" id="weather-eve"></div>
                                </div>
                                <div class="event-shape-1">
                                    <img src="assets/images/event-shape-1.png" alt="Shape">
                                </div>
                                <div class="event-shape-2">
                                    <img src="assets/images/event-shape-2.png" alt="Shape">
                                </div>
                            </div>
                        </div>
                        
                        <!-- The Ceremony -->
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-event-item">
                                <div class="wpo-event-text">
                                    <h2>The Ceremony</h2>
                                    <ul>
                                        <li>Sunday, 8 Dec, 2024<br>1:00 PM – 4:30 PM</li>
                                        <li>Bride's Home, Kannur, Irinave</li>
                                        <li>Phone: +12345678910</li>
                                        <li>
                                            <a href="https://maps.app.goo.gl/8L1wGxBNTT5bCxig6" target="_blank">See Location</a>
                                        </li>
                                    </ul>
                                    <div class="weather-info" id="weather-ceremony"></div>
                                </div>
                                <div class="event-shape-1">
                                    <img src="assets/images/event-shape-1.png" alt="Shape">
                                </div>
                                <div class="event-shape-2">
                                    <img src="assets/images/event-shape-2.png" alt="Shape">
                                </div>
                            </div>
                        </div>
                        
                        <!-- Wedding Party -->
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-event-item">
                                <div class="wpo-event-text">
                                    <h2>Wedding Party</h2>
                                    <ul>
                                        <li>Evening of Sunday, 8 Dec, 2024</li>
                                        <li>Auditorium in Dharmashala, Kalco Hall</li>
                                        <li>Phone: +12345678910</li>
                                        <li>
                                            <a href="https://www.google.com/maps/place/Kalco+Hall/@11.9870896,75.3770136,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba43f3c96a77e91:0x92a156f87582aef5!8m2!3d11.9870844!4d75.3795885!16s%2Fg%2F11fctdgcyz?entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">See Location</a>
                                        </li>
                                    </ul>
                                    <div class="weather-info" id="weather-party"></div>
                                </div>
                                <div class="event-shape-1">
                                    <img src="assets/images/event-shape-1.png" alt="Shape">
                                </div>
                                <div class="event-shape-2">
                                    <img src="assets/images/event-shape-2.png" alt="Shape">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal for Wedding Eve -->
                <div class="modal fade" id="mapModal1" tabindex="-1" aria-labelledby="mapModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mapModalLabel1">The Wedding Eve Location</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Embed map for Wedding Eve -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50125.91956312664!2d75.3060117!3d11.958959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5m2!1sen!2sin"
                                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal for The Ceremony -->
                <div class="modal fade" id="mapModal2" tabindex="-1" aria-labelledby="mapModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mapModalLabel2">The Ceremony Location</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Embed map for Wedding Ceremony -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50125.91956312664!2d75.3060117!3d11.958959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5m2!1sen!2sin"
                                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal for Wedding Party -->
                <div class="modal fade" id="mapModal3" tabindex="-1" aria-labelledby="mapModalLabel3" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mapModalLabel3">Wedding Party Location</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Embed map for Wedding Party -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12630.921960514434!2d75.377829!3d11.9870267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5m2!1sen!2sin"
                                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div> <!-- end container -->
        </section>
        <!-- end wpo-event-section -->
        <!-- start wpo-partners-section -->
        <section class="wpo-partners-section-s3">
            <h2 class="hidden">Partners</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="partner-grids partners-slider owl-carousel">
                            <div class="grid">
                                <img src="assets/images/partners/1.png" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/2.png" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/3.png" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/4.png" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/5.png" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end wpo-partners-section-->

        <section class="wpo-gift-section section-padding" id="wedding-gift">
            <div class="container">
                <div class="row">
                    <div class="wpo-section-title-s2">
                        <div class="section-title-simg">
                            <img src="assets/images/section-title2.png" alt="">
                        </div>
                        <h2>Wedding Gift</h2>
                        <div class="section-title-img">
                            <div class="round-ball"></div>
                        </div>
                    </div>
                </div>
                <div class="wpo-gift-items">
                    <div class="row justify-content-center">
                        <div class="col col-lg-6 col-md-8 col-12">
                            <div class="wpo-gift-item text-center">
                                <div class="wpo-gift-img">
                                    <!-- <img src="assets/images/gifts/money-gift.jpg" alt="Wedding Gift"> -->
                                </div>
                                <div class="wpo-gift-content">
                                    <h2>Send a Wedding Gift</h2>
                                    <p>Support the couple's new journey with a monetary gift</p>
                                    <a href="upi://pay?pa=adarshktpn40@oksbi&pn=adarsh+pp&url=https://anoopwedsathira.online" target="_blank" class="theme-btn">Gift Now via Google Pay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- color-switcher -->
        <div class="color-switcher-wrap">
            <div class="color-switcher-item">
                <div class="color-toggle-btn">
                    <i class="fa fa-cog"></i>
                </div>
                <ul id="switcher">
                    <li class="btn btn1" id="Button1"></li>
                    <li class="btn btn2" id="Button2"></li>
                    <li class="btn btn3" id="Button3"></li>
                    <li class="btn btn4" id="Button4"></li>
                    <li class="btn btn5" id="Button5"></li>
                    <li class="btn btn6" id="Button6"></li>
                    <li class="btn btn7" id="Button7"></li>
                    <li class="btn btn8" id="Button8"></li>
                    <li class="btn btn9" id="Button9"></li>
                    <li class="btn btn10" id="Button10"></li>
                    <li class="btn btn11" id="Button11"></li>
                    <li class="btn btn12" id="Button12"></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins for this template -->
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery.dlmenu.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script src="assets/js/script.js"></script>

    

    <script>
       document.addEventListener('DOMContentLoaded', function() {
    const wishForm = document.getElementById('wishForm');
    const wishesTrack = document.getElementById('wishesTrack');
    let slideIndex = 0;
    let isSliding = false;

    function checkWishesSliding() {
        const wishSlides = wishesTrack.querySelectorAll('.wish-slide');
        const trackWidth = wishesTrack.scrollWidth;
        const containerWidth = wishesTrack.parentElement.clientWidth;

        isSliding = trackWidth > containerWidth;
        return isSliding;
    }

    function startSliding() {
        const wishSlides = wishesTrack.querySelectorAll('.wish-slide');
        
        if (isSliding && wishSlides.length > 1) {
            slideIndex = (slideIndex + 1) % wishSlides.length;
            const slideWidth = wishSlides[0].offsetWidth + 20;
            const offset = -slideIndex * slideWidth;
            wishesTrack.style.transform = `translateX(${offset}px)`;
        }
    }

    let slidingInterval = null;
    function initializeSliding() {
        if (slidingInterval) {
            clearInterval(slidingInterval);
        }

        if (checkWishesSliding()) {
            slidingInterval = setInterval(startSliding, 2000);
        }
    }

    initializeSliding();

    if (wishForm) {
        wishForm.addEventListener('submit', function(e) {
            e.preventDefault();
            
            // Use form's elements to get values
            const name = this.querySelector('input[name="name"]').value;
            const message = this.querySelector('textarea[name="message"]').value;

            // AJAX request to submit wish
            fetch('/wishes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ name, message })
            })
            .then(response => response.json())
            .then(data => {
                // Create new wish slide
                const newWishSlide = document.createElement('div');
                newWishSlide.classList.add('wish-slide');
                newWishSlide.innerHTML = `
                    <div class="wish-card">
                        <div class="wish-content">
                            <p>"${message}"</p>
                            <div class="wish-author">- ${name}</div>
                        </div>
                    </div>
                `;

                // Add to wishes track
                wishesTrack.appendChild(newWishSlide);

                // Reinitialize sliding
                initializeSliding();

                // Close modal (requires Bootstrap)
                const wishModal = bootstrap.Modal.getInstance(document.getElementById('wishModal'));
                if (wishModal) {
                    wishModal.hide();
                }

                // Reset form
                this.reset();
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to submit wish. Please try again.');
            });
        });
    }

    window.addEventListener('resize', initializeSliding);
});
        </script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const downloadIcons = document.querySelectorAll('.download-icon');
        
        downloadIcons.forEach(icon => {
            icon.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent opening the image in lightbox
                
                const imageSrc = this.getAttribute('data-src');
                const fileName = imageSrc.split('/').pop();
                
                // Create a temporary anchor element to trigger download
                const downloadLink = document.createElement('a');
                downloadLink.href = imageSrc;
                downloadLink.download = fileName;
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            });
        });
    });
    </script>

<script>
    const API_KEY = 'd44ccbeb4119f45bfad10b18ff7ca889'; // Replace with your weather API key

    // Event locations and dates
    const events = [
        { id: 'weather-eve', date: '2024-12-07', location: 'Kannur' },
        { id: 'weather-ceremony', date: '2024-12-08', location: 'Kannur, Irinave' },
        { id: 'weather-party', date: '2024-12-08', location: 'Dharmashala, Kalco Hall' }
    ];

    // Fetch weather data for each event
    async function fetchWeather() {
        for (const event of events) {
            try {
                const response = await fetch(
                    `https://api.openweathermap.org/data/2.5/forecast?q=${encodeURIComponent(event.location)}&appid=${API_KEY}&units=metric`
                );
                const data = await response.json();

                // Find forecast for the specific date
                const forecast = data.list.find(item => item.dt_txt.startsWith(event.date));
                const weatherHtml = forecast
                    ? `<p><strong>Weather:</strong> ${forecast.weather[0].description}, ${forecast.main.temp}°C</p>`
                    : '<p>Weather data not available</p>';

                // Update the corresponding event's weather placeholder
                document.getElementById(event.id).innerHTML = weatherHtml;
            } catch (error) {
                console.error('Error fetching weather data:', error);
                document.getElementById(event.id).innerHTML = '<p>Failed to load weather info</p>';
            }
        }
    }

    // Run fetchWeather on page load
    document.addEventListener('DOMContentLoaded', fetchWeather);
</script>

</body>

</html>